body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: antiquewhite;
}

header {
    background-color: black;
    color: antiquewhite;
    padding: 20px;
    border-bottom: 1px solid antiquewhite;
    border-radius: 20px;
    font-size: 23px;
    display: flex;
    justify-content: space-between;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #faebd7;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #f0e68c;
}

.content {
    margin: 40px;
    border: 1px solid antiquewhite;
    padding: 20px;
    margin-left: 30%;
    width: 40%;
    box-shadow: 0 0 10px antiquewhite;
    text-align: center;
    border-radius: 20px;
}
.content h1{
    display: inline-block;
    border-bottom: 1px solid antiquewhite;
    padding-bottom: 5px; 
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.inline-group {
    display: flex;
    align-items: center;
}

.content label {
    color: antiquewhite;
    display: block;
    margin-bottom: 10px;
    margin-right: 10px;
}
.content input,
.content textarea {
    width: calc(100% - 20px);
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.content input[type="submit"] {
    width:fit-content;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    background-color: antiquewhite;
    color:black;
    border: 1px solid antiquewhite;
    box-shadow: 0 0 10px antiquewhite;
    cursor: pointer;
    align-items: flex-end;

}
.error {
    color: red;
    font-size: 12px;
}

footer {
    background-color:black; /* Dark background for a professional look */
    color: #faebd7; /* Light color for text */
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #faebd7;
    margin-top: 40px;
    font-family: 'Arial', sans-serif; 
    border-radius: 20px;
}

.footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px; /* Increase gap for better spacing */
    margin-bottom: 15px; /* Spacing between links and copyright */
}

.footer-links li {
    display: inline;
}

.footer-links li a {
    color: #faebd7;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links li a:hover {
    color: #f0e68c; 
    text-decoration: underline;
}

footer p {
    margin: 0;
    font-size: 16px;
    color: #faebd7; /* Ensure text color matches the overall theme */
}
